<!DOCTYPE html>
<html lang="pt-br">

<%- include("./includes/head.ejs", {title: "Cadastro de Pizza"}) %> 

<body>
    <%- include("./includes/header.ejs") %>
        
    <main class="container d-flex justify-content-center align-items-center vh-75">
        
        <form action="/cardapio/cadastro" method="post" class="form-cadastro">
            <h2>Cadastrar pizza</h2>
            <div class="form-group">
                <label for="nomePizza">Pizza</label>
                <input type="text" class="form-control" id="nomePizza" name="nomePizza" placeholder="Insira uma pizza">
            </div>

            <div class="form-group">
                <label for="precoPizza">Preço da Pizza</label>
                <input type="number" class="form-control" id="precoPizza"  name="precoPizza"  placeholder="Preço pizza">
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-success">Finalizar cadastro</button>
            </div>
            
        </form>

    </main>
</body>
</html>