<!DOCTYPE html>
<html lang="en">
    <%- include('includes/head', {title:"Pizzaria Express"}) %>    
<body>
    <%- include('includes/header') %>    
    <main>
        <section class="jumbotron">
            <h1 class="display-4">Experimente a melhor pizza da internet!!</h1>
            <p class="lead">Ingredientes de qualidade premium, e o sabor incrivel!.</p>
            <hr class="my-4">
            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Ver Cardápio</a>
        </section>
    </main>
</body>
</html>