.card {
    background-color: crimson;
    color:#fff;
}

.form-cadastro {
    width: 400px;
    background-color: crimson;
    padding: 10px;
    border-radius: 15px;
    color: #ffffff;
}

.vh-75 {
    /* criando uma utilite */
    height: 75vh!important;
}

.bg-rosa {
    background-color: crimson !important;
}

.form-login-cadastro {
    width: 300px;
    height: 60vh;
    margin-top: 10px;
    background-color: crimson;
    padding: 5px;
    border-radius: 15px;
    color: #ffffff;
}